// Reset
body {
  background: #f3f5fc;
}

.sidebar {
  h1 {
    margin: 0 auto;
    color: #ff0055;
    font-size: 5rem;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.panel-l {
  border-radius: 32px;
  width: 100%;
  padding: 1rem;

  textarea {
    display: block;
    border: none;
    outline: none;
    font-size: 2rem;
    width: 100%;
    height: 350px;
    margin: 1rem 0;
    background: transparent;
  }
}

.panel-r {
  background: #fff;
  border-radius: 32px;
  width: 500px;
  padding: 1rem;

  textarea {
    display: block;
    border: none;
    outline: none;
    font-size: 2rem;
    width: 100%;
    margin: 1rem 0;
    height: 350px;
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.btn-enc {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background: #0a3871;
  color: #fff;
  border: solid 1px #0a3871;
  border-radius: 24px;

  transition: all 0.2s;

  &:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
  }
}

.btn-dec {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background: #d8dfe8;
  color: #0a3871;
  border: solid 1px #0a3871;
  border-radius: 24px;

  transition: all 0.2s;

  &:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
  }
}

.btn-copy {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background: #d8dfe8;
  color: #0a3871;
  border: solid 1px #0a3871;
  border-radius: 24px;

  transition: all 0.2s;

  &:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
  }
}

.warni {
  display: block;
  margin: 1rem 0;
  font-style: italic;
  color: #323232;
}
